﻿@model IEnumerable<TVShowManager.Models.ShowModel>

@{
    ViewBag.Title = "TV Shows";
}

<h2>TV Shows Manager</h2>

<p>
    @Html.ActionLink("Add TV Show", "AddShow")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditShow", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteShow", new { id=item.Id })
        </td>
    </tr>
}

</table>
